header {box-shadow: 0 .1rem .3rem #0000001c}

main { width: 100%; padding: 2.35rem 2.45rem; box-sizing: border-box;}
.detail_info { display: flex; flex-direction: column; padding: 0; height: auto; margin: 0 0 3.25rem; }
.detail_info h2 { order: 3; padding: .9rem 0 .5rem;}
.detail_info p { order: 4; padding: 0 0 1.35rem;}
.detail_info .thoumb {order: 1; position: static; width: calc(100% - 4.6155rem); }
.detail_info .thoumb .tuoumbnail { width: 100%; height: auto;}
.detail_info .thoumb .mark { display: none;}
.detail_info .list { order: 2; position: static; width: calc(100% - 9.7545rem); padding: 0 0 0 .6255rem;}
.detail_info .list li { float: none; padding: 0 0 0.4225rem;}
.detail_info .list li button { width: 100%;}
.detail_info .list li img { width: 100%; height: auto;}
.detail_info .list li:last-child { display: none;}
.detail_info > div {display: flex; }
.detail_info .more { position: static;  width: 4.95rem; line-height:1.6rem; height: 1.6rem; background-image: none; border-radius: 1.65rem; order: 5; text-transform: uppercase; text-align: center; font-size: .55rem; color: #fff;}

.new_list ul {display: flex; flex-direction: column;}
.new_list li ~ li { margin: 1.513rem 0 0; }
.new_list li .info { width: 100%;}
.new_list li .info img { width: 100%; height: auto;}
.new_list li .info figcaption { height: 4.9824rem;}
.new_list li .info figcaption strong { font-size: .65rem; }
.new_list li .info figcaption p { font-size: .55rem; }